.card{
    width: 16rem;
    margin-left: 25px;
    margin-top: 30px;
    margin-right: 25px;
}
.card-text{
    font-size: 16px;
    margin-bottom: 0;
}
.card-title{
    font-size: 18px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.card-body{
    height: 80px;
}